* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/*styling the nav bar*/
p{
    padding: 10px;
}
li{
    padding: 5px;
}
.nav-bar li{
        list-style-type: none;
}


.nav-bar{
    height: 75px;
    position: fixed;
    left: 0;
    right: 0;
    background-color: black;
    display: flex;
    padding: 2px;
    z-index: 999;
}
body{
    overflow-x: hidden;
    background-color: #F7F7F7;

}
.logo{
    width: 150px;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main{
    padding-top: 75px;
}
.nav-buttons{
    display: flex;
    align-items: center;
    justify-items: center;
    margin: auto;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    opacity: 0.6;
}
.nav-buttons a:active{
    color: rgb(43, 126, 235);
    border: 1px solid white;
    padding: 10px;
    font-size: 14px;
}
.nav-buttons a{
    margin: 10px;
    padding: 10px;
    font-family: sans-serif;
}
.top-button{
    padding: 1rem;
    margin-top: 5px;
    margin-right: 15px;
    height: 60px;
    border-radius: 6px;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
.top-button:hover{
    transition: 1s ease-in;
    background-color: rgb(8, 129, 228);
    border: none;
    opacity: 1;
}
section:nth-of-type(5){
    border: none;
}
                /*styling the landing page*/

.about{
    display: flex;
    gap: 5rem;
    justify-content: space-evenly;
    padding: 1rem;
    
}

.my-photo{
    width: 800px;
    padding: 1rem;
}
.my-photo img{
    width: 100%;
    height: 100%;
}
.about-me{

    width: 450px;
    height: 700px;
    font-family: roboto;
    color: rgb(31, 30, 30);
    padding: 2rem;
    margin-left: 5rem;
    padding-top: 10rem;
}
.about-me p{
    padding-bottom: 2rem;
}
.about-me h1{
    text-align: left;
    font-size: 4rem;
}
.about-dec{
margin-bottom: 1rem;
}
span{
    font-family: Montserrat;
    color: rgb(9, 98, 231);
}
h2{
    font-family: roboto,sans-serif;
    font-weight:600;
    padding: 10px;
    opacity: 0.8;
}
.about-btn{
    padding: 1rem;
    border-radius: 8px;
    margin-right: 1rem;
    font-size: 1em;
    font-family: sans-serif;
    cursor: pointer;
}
.about-btn:nth-of-type(1){
    background-color: rgb(0, 140, 255);
    color: rgb(255, 255, 255);

}
.about-btn:nth-of-type(2){
    background-color: rgb(236, 236, 236);
    color: rgb(0, 140, 255);

}
.skills{
    background-color: #F7F7F7;
    margin-top: 2rem;
    padding: 1rem;
    justify-items: center;
}


#portfolio{
    background-color: white;
    border-top: 1px solid black;
        border-bottom: 1px solid black;

}
#projects{
    margin-top: -1rem;
background-color: #F7F7F7;
    border-top: 1px solid black;

}
#about{
    background-color: #f7f7f7c0;
        border-top: 1px solid black;

}

#tools{
            border-top: 1px solid black;
            padding: 1rem;
}


        /*styling the portfolio section*/
.group-of-cards{
  width: 100vw;
  height: 700px;
  display: flex;
  gap: 1rem;
  margin-bottom: 5rem;
}
.container{
  padding: 2.5rem;
  margin: 5rem auto;
  position: relative;
  width: 200px;
}

.card{
    position: absolute;
    width: 300px;
    height: 350px;
    border: 2px solid black;
    transition: 1.5s;
    border-radius: 5px;
    
}

.card:nth-of-type(2){
    background-color: rgb(36, 35, 35);
    box-shadow: 5px 2px #414040;
    color: white;
}
.image-card h2{
    text-align: center;
}
.imagee{
    width: 150px;
    height: 150px;
    margin: 15px auto;
}

.imagee img{
    width: 100%;
    height: 100%;
}
.image-card{
    background-color: rgb(255, 255, 255);

}
.container:hover .image-card{
    transform: translateY(-150px);
}
.container:hover .detail-card{
    transform: translateY(150px);
}
.description{
    margin-top: 4rem;
}
.description p{
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.BAR{
    position: absolute;
    bottom: 2rem;
    left: 35%;
    border-bottom: 5px solid rgb(15, 113, 241);
    width: 70px;
}
.bold{
    font-weight: bold;
    font-size: 17px;
    color: red;
}
h1{
    font-family: open sans, sans-serif;
    text-align: center;
    padding: 1rem;
}

        /*Styling the project section*/

.grid-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 10px;
    margin-bottom: 2rem;
}
.grid-card{
    width: 300px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}
.italic{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}
.grid-card p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #414040;
    text-align: justify;
}
.grid-card h2{
    text-align: center;
}
.grid-image img{
    width: 100%;
}
.grid-image{
    width: 150px;
    height: 150px;
    margin: 15px auto;
}
.divider{
    border: 2px solid black;
}


    /*Styling the Education section*/
.container-flex{
    display: flex;
    padding: 10px;
    gap: 1rem;
    margin-bottom: 5rem;
}
.container-flex h2{
    text-align: center;
}
.image-card-flex{
    width: 500px;
    height: 200px;
}
.image-card-flex img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}
.big-cards{
    width: 600px;
    background-color: #FAFAFA;
    border: 1px solid black;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    border-radius: 5px;

}
            /*Styling the Tools and Technology section*/
.divider-flex{
    border-bottom: 2px solid black;
    padding: 1rem;
}
.italic-quote{
    font-style: italic;
    text-align: center;
}
.list{
    padding: 20px;
}
.list li{
    padding: 5px;
    margin-left: 5px;
}
.image-card-tools{
    width: 150px;margin: auto;
}
.image-card-tools img{
    width: 100%;
}
.tools-container{
    display: flex;
    padding: 2rem;
    gap: 1rem;
    
}
.containers{
    border: 1px solid black;
    margin: auto;
    width: 300px;
    height: 460px;
    border-radius: 5px;
    padding: 2rem;
}
.containers li{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.5px;
}
section{
    margin-top: 3rem;
}
#tools h2{
    text-align: center;
}

        /*Styling the footer*/

footer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 2rem;
}
.foot-div{
    display: flex;
    justify-content: space-between;
}
.foot-sec{
    padding: 1rem;
}
h3{
    font-family: open sans;
}
.foot-div a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: rgb(191, 193, 196);
}
.foot-div li{
    list-style-type: none;
    padding: 2px;

}
i{
    font-size: 1.5rem;
    padding: 2px;
    color: aliceblue;
    margin-top: 1rem;
}
.center{
    padding: 1rem;
}
.center input{
    width: 250px;
    height: 35px;
    border: none;
    border-right: none;
    outline: none;
    padding: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.icon{
    display: none;
}
.center button{
    width: 70px;
    height: 37px;
    border: none;
    background-color: rgb(14, 85, 218);
    color: white;
    cursor: pointer;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.foot-sec:nth-of-type(4){
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #8f8f8f;
}
.copy{
    margin-bottom: 5px;
}

@media(max-width: 767px){
.nav-bar{
    height: 60px;
}
.about{
    margin: 15px auto;
    width: 100%;
}
.about-me{
    width: 400px;
    margin-left: 0;
    padding: 1rem;
}
.about-me h1{
    font-size: 3rem;
}
.my-photo{
   display: none;
}
.group-of-cards{
    display: flex;
    height: 200rem;
    flex-direction: column;
    gap: 1rem;
     flex-wrap: nowrap;
}
.container{
    width: 300px;
    height: 400px;
    margin-top: 1rem;

}
.card{
    position: absolute;
    top: 0;
    width: 300px;
    margin-top: 15px;
    margin-left: -3rem;
}

.container-flex{
    flex-direction: column;
}
.image-card-flex{
    width: 250px;
    margin: auto;
}
.big-cards{
    width: 300px;
    margin: auto;
}
.tools-container{
    flex-direction: column;
}
.foot-div{
    flex-direction: column;
}
.center button{
    display: block;
    margin:15px auto;
}
.foot-sec:nth-of-type(4){
    margin: auto;
}
.copy{
    margin: 0;
}
.nav-buttons{
    display: none;
    background-color: #414040;
    padding: 1rem;
}
.nav-buttons li{
    border-bottom: 1px solid white;
}
.top-button{
    display: none;
}
.icon{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
}

@media (min-width: 768px) and (max-width: 1024px){

    .nav-bar{
        height: 70px;
    }

    .about{
        width: 90%;
        margin: 20px auto;
    }

    .about-me{
        width: 500px;
        padding: 2rem;
    }

    .about-me h1{
        font-size: 3.5rem;
    }

    .my-photo{
        display: block;
        width: 250px;
        margin: auto;
    }

    .group-of-cards{
        display: flex;
        flex-wrap: wrap;
        height: 100rem;
        gap: 2rem;
    }

    .container{
        width: 350px;
        height: 450px;
        margin: 2rem auto;
    }

    .card{
        width: 350px;
        margin-left: -2rem;
    }

    .container-flex{
        flex-wrap: wrap;
        gap: 2rem;
    }

    .image-card-flex{
        width: 300px;
        margin: auto;
    }

    .big-cards{
        width: 350px;
        margin: auto;
    }

    .tools-container{
        gap: 1.5rem;
        flex-wrap: wrap;
    }

    .foot-div{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .center button{
        margin: 20px auto;
    }

    .foot-sec{
        width: 45%;
        text-align: center;
    }

    .foot-sec:nth-of-type(4){
        margin: auto;
    }

    .copy{
        margin-top: 20px;
        text-align: center;
    }

    .nav-buttons{
        display: flex;
    }

    .top-button{
        display: block;
    }

    .icon{
        display: none;
    }
}

